# **practice problem**

# 1.Write a Python program which accepts the radius of a circle from the user and compute the area.
Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999

In [ ]:
import math
r = float(input('enter the radius:'))
a = math.pi * (r ** 2)
print('area',a)

enter the radius:3
area 28.274333882308138

#2. Write a Python Program to accept the details of a student like name, roll number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: Name: Anisha
Roll No: 21
Mark: 78

In [1]:
name = input("enter the name: ")
roll_number = input('enter roll number: ')
mark =input('enter mark: ')

enter the name: Anisha
enter roll number: 21
enter mark: 78

#3. Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10

In [ ]:
from ast import Compare
input_numbers = input('enter the numbers:')
input_numbers = find_largest_number(numbers)
input_numbers

#4. Given a range of first 10 numbers, write a Python program to iterate from start number to the end number and print the sum of the current number and previous number.
 Sample input: 1â€¦.10

In [ ]:

previous_number = 0
for current_number in range(1, 11):
    current_sum = current_number + previous_number
    print("Current Number:", current_number, "Previous Number:", previous_number, "Sum:", current_sum)
    previous_number = current_number

#5. Write a Python program to print only those numbers which are divisible of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

In [30]:
b= 10, 20,33,46,55
for a in b:
  if a % 5 == 0:
    print(a)

10
20
55

#6.Write a Python program to check whether a number is prime or not. Sample input: Enter the number: 3
Sample output: 3 is a prime number

In [54]:
num = int(input("Enter the number: "))
if num % 2 != 0 :
  print('prime')
else:
  print('not a prime')

Enter the number: 3
prime

#7. Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10

In [66]:
a = [10,40,30,70]
reversed_a = a[::-1]
print('reversed number:', reversed_a)

reversed number: [70, 30, 40, 10]

#8. Write a Python program to print the following pattern.
*
**
***
****

In [69]:
level = 4
for i in range(1, level + 1):
    print('*' * i)

*
**
***
****

#9. Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34

In [74]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))
maximum_number = max(num1, num2, num3)
print("The maximum of {}, {}, and {} is: {}".format(num1, num2, num3, maximum_number))

Enter the first number: 34
Enter the second number: 12
Enter the third number: 7
The maximum of 34.0, 12.0, and 7.0 is: 34.0

#Write a Python program to construct the following pattern, using a nested for loop.

In [78]:
num_row = 5
for i in range(1, num_row + 1):
    print('*' * i)

*
**
***
****
*****